<div id="main">
    <form action="/crear" method="POST">
        <label>Name: </label>
        <input type="text" id="item" name="item" value="" size="30">
        <label>Qty: </label>
        <input type="text" id="qty" name="qty" value="" size="30">
        <label>Status: </label>
        <input type="text" id="status" name="status" value="" size="30">
        <label>Size: </label>
        <input type="text" id="size" name="size" value="" size="30">

        <input type="submit" class="form-submit" value="Crear">
    </form>
</div>